<div class="modal" id="liste">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Kayıtlar Listesi</h4>
          <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <form >
                <label >ID</label>
                <input type="text" class="form-control" >
                <input type="text" class="form-control"  placeholder="Enter Name">
                <input type="text" class="form-control" placeholder="Enter WKT">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" >Save</button>
        </div>
      </div>
    </div>
</div>