<body>
    <div id="map" class="map"></div>
    <form>
      <label for="type">Geometry type &nbsp;</label>
      <select id="type" [(ngModel)]="_options" [ngModelOptions]="{standalone: true}" #selectBox (change)="onChanges()">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
      </select>
    </form>

    <script type="module" src="main.js"></script>


  </body>

  


