<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Koordinat Ekranı</h4>
          <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <form class="form">
                <input type="text" class="form-control" placeholder="İsim" #name>
                <label class="form-control-plaintext  " for="">Feature : {{data.type}}</label> <br>
                <label class="form-control-plaintext " >Coordinates : {{data.coordinates}}</label>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="save(name.value)">Save</button>
        </div>
      </div>
    </div>
</div>
